# Node / React
web/node_modules/
web/dist/
# Environment files
.env
.env.*
*.env
web/.env
web/.env.*
web/.env.local
web/.env.*.local
mobile/env
mobile/.env
mobile/.env.*

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/ephemeral/

# IDE / OS
.idea/
.vscode/
*.swp
*.DS_Store
